.question {
    padding-bottom: 20px;
}

.questionLabel {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 18px;
    font-weight: bold;
}

.option {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 12px;
}

.optionLabel {
    padding-left: 5px;
    height: 30px;
}

.optionLabel .editable input[type=text], input[type=text]:focus {
    width: 90%;
}

.editable input[type=text], input[type=text]:focus {
    width: 100%;
    border: 0;
    border-bottom: 1px solid yellowgreen;
    font-weight: bold;
    background-color: inherit;
    outline: none;
}

.addOption {
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    cursor: pointer;
    display: block;
}

.removeOption {
    color: transparent;
    margin-right: 5px;
}
